@import "vars";

#main {
    &.home {
        .brand-logo {
            display: none;
        }

        #cover {
            height: auto;
            padding-top: 100px;
            padding-bottom: 50px;

            @media @media-laptop {
                height: 100vh;
                padding-top: 278px;
            }

            video {
                min-width: 100%;
                position: fixed;
                top: 0;
                z-index: -999;
            }

            .title-content {
                background: transparent;
                margin: 0px auto;
                text-align: center;

                @media @media-laptop {
                    text-align: left;
                    margin-left: 20%;
                }

                img {
                    width: 272px;

                    @media @media-laptop {
                        width: 500px;
                    }
                }

                .button-container {
                    margin-top: 40px;

                    @media @media-laptop {
                        margin-top: 50px;
                    }

                    .btn {
                        &:first-child {
                            margin-right: 15px;

                            @media @media-laptop {
                                margin-right: 20px;
                            }
                        }
                    }
                }
            }
        }

        #cita {
            width: 100%;
            background-color: #e12d31;

            .cita-text {
                padding: 40px 50px;
                margin: 0px auto;
                color: #ffffff;
                line-height: 1.2em;
                text-align: center;
                font-size: 19px;

                @media @media-laptop {
                    font-size: 33px;
                    padding: 72px 30px;
                }

                .cita-author {
                    display: block;

                }
            }
        }

        #method {
            background-image: url('/img/method-bg.jpg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            color: #ffffff;
            text-align: center;
            margin-bottom: 10px;

            .method-container {
                text-align: center;
                padding-bottom: 60px;
                padding-top: 58px;
                background-color: rgba(48, 48, 48, 0.75);

                h2 {
                    margin: 0px 0px 18px 0;
                    padding: 0px;
                    letter-spacing: 3px;
                    line-height: 1.1em;
                    text-align: center;
                    font-size: 36px;
                    font-family: 'raleway', sans-serif;
                    font-weight: 900;
                    color: #ffffff;
                }
            }

            .method-info {
                padding: 0px 25px;
                text-align: center;

                p {
                    font-family: 'raleway', sans-serif;
                    font-weight: 400;
                    color: #ffffff;
                    font-size: 16px;
                    letter-spacing: normal;
                    line-height: normal;
                    margin: 0px 0px 60px 0;
                }

                .method-steps {
                    margin: 0px auto;
                    overflow: hidden;
                    padding-top: 20px;
                    text-align: center;

                    .step {
                        position: relative;
                        text-align: center;
                        height: 50px;
                        margin-bottom: 70px;
                        width: 200px;
                        margin: 0px auto 70px;
                        display: inline-block;

                        .num {
                            color: #961E21;
                            font-size: 90px;
                            top: 0px;
                            line-height: 12px;
                            width: 100%;
                            z-index: 1;
                            font-weight: 700;
                        }

                        .text {
                            font-size: 21px;
                            z-index: 2;
                            width: 100%;
                            text-transform: uppercase;
                            font-weight: 600;
                            line-height: 1px;
                        }
                    }

                    .btn {
                        width: 165px;
                        height: 48px;
                        font-size: 14px;
                    }
                }
            }
        }

        #enterprise {
            width: 100%;
            background-color: #e12d31;
            color: #ffffff;
            text-align: center;
            margin-bottom: 10px;

            .enterprise-title {
                line-height: 1.5em;
                font-family: 'raleway', sans-serif;
                font-weight: 700;
                text-align: center;
                padding-top: 20px;
                font-size: 22px;

                @media @media-laptop {
                    line-height: 2em;
                    font-size: 36px;
                }
            }

            .enterprise-text {
                padding: 0px 20px 40px;
                margin: 0px auto;
                line-height: 1.2em;
                text-align: center;
                font-size: 19px;

                @media @media-laptop {
                    padding: 0px 50px 40px;
                    font-size: 33px;
                }

            }
        }

        #weare {
            background-color: #222222;
            margin-bottom: 10px;

            @media @media-laptop {
                margin-bottom: 0px;
            }

            .weare-title {
                line-height: 2em;
                font-size: 22px;
                font-family: 'raleway', sans-serif;
                font-weight: 700;
                color: #ffffff;

                .bigger {
                    line-height: 1em;
                    font-size: 38px;
                    clear: both;
                    display: block;
                    font-weight: 900;
                    letter-spacing: 4px;
                }
            }

            .weare-img {
                padding: 70px 15px 20px 25px;
                width: 100%;
                display: inline-block;

                @media @media-laptop {
                    width: 46%;
                    padding: 0px;
                }

                .mobile {
                    display: block;

                    @media @media-laptop {
                        display: none;
                    }
                }

                img {
                    width: 100%;

                    @media @media-laptop {
                        max-width: 800px;
                        height: 660px;
                        object-fit: cover;
                        object-position: 50% 50%;
                    }
                }
            }

            .weare-container {
                padding: 0px 15px 20px 25px;
                width: 100%;
                display: inline-block;

                @media @media-laptop {

                    width: 30%;
                    padding: 0px;
                    top: 0;
                    vertical-align: top;
                    padding-top: 160px;
                    padding-left: 40px;
                }

                .desktop {
                    display: none;

                    @media @media-laptop {
                        display: block;
                        margin-bottom: 55px;
                        font-size: 20px;
                        line-height: 1.7em;
                    }
                }

                .weare-text {
                    color: #ffffff;
                    line-height: 1.6em;
                    font-size: 14px;
                    padding-right: 50px;

                    @media @media-laptop {

                        padding-right: 200px;
                    }
                }
            }
        }

        #opinions {
            background-image: url('/img/opinions-bg.jpg');
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            color: #ffffff;
            text-align: center;
            margin-bottom: 10px;

            .opinion-container {
                text-align: center;
                padding-bottom: 60px;
                padding-top: 58px;
                background-color: rgba(225, 45, 49, 0.75);

                .opinion-item {
                    max-width: 375px;
                    text-align: center;
                    font-family: 'Didact Gothic', sans-serif;
                    padding: 25px 25px 25px;

                    .opinion-img {
                        width: 140px;
                        margin: 0px auto 10px;

                        @media @media-laptop {
                            width: 200px;
                            margin: 0px auto 40px;
                        }
                    }

                    .opinion-name {
                        font-size: 20px;
                        margin: 0px 0px 10px 0;

                        @media @media-laptop {
                            font-size: 26px;
                        }
                    }

                    .opinion-text {
                        font-size: 14px;
                        margin: 0px 0px 25px 0;

                        @media @media-laptop {
                            margin: 0px 0px 45px 0;
                        }
                    }

                    .comillas {
                        transform: rotate(180deg);
                        width: 33px;
                        height: 32px;
                        fill: #ffffff;
                        fill-opacity: 1;
                        stroke-width: 0;
                        stroke: #ed1566;
                        margin: 0px auto;
                    }
                }
            }
        }

        #modal-empresa {
            position: fixed;
            display: none;
            box-shadow: 0px 0px 10px 0px black;
            padding: 15px;
            color: white;
            background-color: #212529;
            bottom: 30px;
            margin: 20px;
            z-index: 1000;

            @media @media-laptop {
                margin-left: 20px;
            }

            &.show {
                display: block;
            }

            p {
                font-size: 14px;
            }

            #response_empresa {
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}
