#navbar{    
    height: 75px;
    background-color: black;
    padding:0px;
    @media @media-laptop{
        height: 116px;
    }
    .navbar-brand{
        margin-left: 10px;
        @media @media-laptop{
            margin-left:220px;
            margin-right:25rem;
        }
        .brand-logo{
            width:140px;
            @media @media-laptop{
                width:193px;
            }            
        }
    }
    .navbar-toggler{
        .fa-bars{
            color:white;
        }
    }
    .navbar-collapse{
        background-color:#000000;
    }
    .nav-item{
        a{
            color:#ffffff;
            font-family: 'Anton';
            font-size:20px;
            font-weight: bold;
            &.active{
                color:#D2AB66;
            }
        }
        
    }
}