@import "fonts";
/// MEDIA BREAKPOINTS ///
@bp-tablet: 768px; //col-sm
@bp-laptop: 992px; //col-md
@bp-desktop: 1200px; //col-lg
@bp-hd: 1680px;

@bp-mobile-end: (@bp-tablet - 1);
@bp-tablet-end: (@bp-laptop - 1);
@bp-laptop-end: (@bp-desktop - 1);
@bp-desktop-end: (@bp-hd - 1);

@media-tablet: ~"only screen and (min-width: @{bp-tablet})";
@media-laptop: ~"only screen and (min-width: @{bp-laptop})";
@media-desktop: ~"only screen and (min-width: @{bp-desktop})";

@media-only-mobile: ~"only screen and (max-width: @{bp-mobile-end})";
@media-only-tablet: ~"only screen and (min-width: @{bp-tablet}) and (max-width: @{bp-tablet-end})";
@media-only-laptop: ~"only screen and (min-width: @{bp-laptop}) and (max-width: @{bp-laptop-end})";
@media-only-desktop: ~ "only screen and (min-width: @{bp-desktop}) and (max-width: @{bp-desktop-end})";

/// FUENTES ///
@os-light: 300;
@os-regular: 400;
@os-medium: 500;
@os-semibold: 600;
@os-bold: 700;

#main {
    font-family: 'raleway', sans-serif;
    font-size: 15px/1.4em;    
    color: #000000;
    position: relative;    

    @media @media-laptop {
    }

}
.btn-ohfit {
    background-color: #e12d31;
    border-color: transparent;
    cursor:pointer;
    min-height: 43px;
    min-width: 130px;
    color: #ffffff;
    font-size: 12px;
    line-height: 32px;
    @media @media-laptop{
        font-size: 15px;
        min-height: 48px;
        min-width: 162px;
        line-height: 35px;
    }
    &:hover {
        background-color: #EB8D8F;  
        color:#7b2e30; 
    }
}

.btn-ohfit-outline {
    background-color:transparent;
    border:1px solid #e12d31;
    cursor:pointer;  
    min-height: 43px;
    min-width: 130px;
    color: #ffffff;
    font-size: 12px;
    line-height: 32px;
    @media @media-laptop{
        font-size: 15px;
        min-height: 48px;
        min-width: 162px;
        
    line-height: 35px;
    }

    &:hover {
        background-color: #e12d31;       
        color:#ffffff; 
    }
}
